<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springboot.mapper.FilmMapper">

    <!-- 完善：根据影院ID查询上映电影 -->
    <select id="selectByCinema" resultType="com.example.springboot.entity.Film">
        SELECT
        f.*,
        a.title AS areaName,
        CONCAT(actor.id, ':', actor.actor) as actorInfo,
        -- 子查询获取当前影院的场次数量
        (SELECT COUNT(*) FROM cinema_film cf WHERE cf.film_id = f.id AND cf.cinema_id = #{cinemaId}) AS showCount
        FROM film f
        LEFT JOIN area a ON f.area_id = a.id
        LEFT JOIN actor ON f.actor_id = actor.id
        INNER JOIN cinema_film cf ON f.id = cf.film_id
        WHERE cf.cinema_id = #{cinemaId}
        <if test="filmId != null">AND f.id = #{filmId}</if>
        ORDER BY f.id DESC
    </select>

    <!-- 其他原有方法保持不变 -->
    <select id="selectById" parameterType="java.lang.Integer" resultType="com.example.springboot.entity.Film">
        SELECT
            film.*,
            area.title as areaName,
            CONCAT(actor.id, ':', actor.actor) as actorInfo
        FROM film
                 LEFT JOIN area ON film.area_id = area.id
                 LEFT JOIN actor ON film.actor_id = actor.id
        WHERE film.id = #{id}
    </select>

    <select id="selectAll" resultType="com.example.springboot.entity.Film">
        SELECT
        film.*,
        area.title as areaName,
        CONCAT(actor.id, ':', actor.actor) as actorInfo
        FROM film
        LEFT JOIN area ON film.area_id = area.id
        LEFT JOIN actor ON film.actor_id = actor.id
        <where>
            <if test="title != null and title != ''">AND film.title LIKE CONCAT('%', #{title}, '%')</if>
            <if test="typeId != null">AND film.type_ids LIKE CONCAT('%', #{typeId}, '%')</if>
            <if test="year != null">AND film.start LIKE CONCAT('%', #{year}, '%')</if>
            <if test="areaId != null">AND film.area_id = #{areaId}</if>
            <if test="actorId != null">AND film.actor_id = #{actorId}</if>
        </where>
        ORDER BY id DESC
    </select>

    <select id="selectByTitle" resultType="com.example.springboot.entity.Film">
        SELECT * FROM film WHERE title LIKE CONCAT('%', #{title}, '%')
    </select>

    <select id="selectBoxOfficeTop" resultType="com.example.springboot.entity.Film">
        SELECT
            film.*,
            area.title as areaName,
            CONCAT(actor.id, ':', actor.actor) as actorInfo
        FROM film
        LEFT JOIN area ON film.area_id = area.id
        LEFT JOIN actor ON film.actor_id = actor.id
        ORDER BY film.boxOffice DESC
        LIMIT #{topNum}
    </select>

    <select id="selectMarkTop" resultType="com.example.springboot.entity.Film">
        SELECT
            film.*,
            area.title as areaName,
            CONCAT(actor.id, ':', actor.actor) as actorInfo
        FROM film
        LEFT JOIN area ON film.area_id = area.id
        LEFT JOIN actor ON film.actor_id = actor.id
        WHERE film.score IS NOT NULL
        ORDER BY film.score DESC
        LIMIT #{topNum}
    </select>

    <insert id="insert" parameterType="com.example.springboot.entity.Film">
        INSERT INTO film
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
            <if test="time != null">time,</if>
            <if test="english != null">english,</if>
            <if test="start != null">start,</if>
            <if test="typeIds != null">type_ids,</if>
            <if test="language != null">language,</if>
            <if test="resolution != null">resolution,</if>
            <if test="img != null">img,</if>
            <if test="employee != null">employee,</if>
            <if test="areaId != null">area_id,</if>
            <if test="status != null">status,</if>
            <if test="score != null">score,</if>
            <if test="boxOffice != null">boxOffice,</if>
            <if test="video != null">video,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="time != null">#{time},</if>
            <if test="english != null">#{english},</if>
            <if test="start != null">#{start},</if>
            <if test="typeIds != null">#{typeIds},</if>
            <if test="language != null">#{language},</if>
            <if test="resolution != null">#{resolution},</if>
            <if test="img != null">#{img},</if>
            <if test="employee != null">#{employee},</if>
            <if test="areaId != null">#{areaId},</if>
            <if test="status != null">#{status},</if>
            <if test="score != null">#{score},</if>
            <if test="boxOffice != null">#{boxOffice},</if>
            <if test="video != null">#{video},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.springboot.entity.Film">
        UPDATE film
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="time != null">time = #{time},</if>
            <if test="english != null">english = #{english},</if>
            <if test="start != null">start = #{start},</if>
            <if test="typeIds != null">type_ids = #{typeIds},</if>
            <if test="language != null">language = #{language},</if>
            <if test="resolution != null">resolution = #{resolution},</if>
            <if test="img != null">img = #{img},</if>
            <if test="employee != null">employee = #{employee},</if>
            <if test="areaId != null">area_id = #{areaId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="score != null">score = #{score},</if>
            <if test="boxOffice != null">boxOffice = #{boxOffice},</if>
            <if test="video != null">video = #{video},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE FROM film WHERE id = #{id}
    </delete>

</mapper>
