<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springboot.mapper.RecordMapper">

    <!-- 查询操作 -->
    <select id="selectAll" resultType="com.example.springboot.entity.Record">
        SELECT
        record.*,
        cinema.name as cinemaName,
        room.name as roomName
        FROM record
        LEFT JOIN cinema ON record.cinema_id = cinema.id
        LEFT JOIN room ON record.room_id = room.id
        <where>
            <if test="title != null">AND record.title LIKE CONCAT('%', #{title}, '%')</if>
            <if test="start != null">AND record.start LIKE CONCAT('%', #{start}, '%')</if>
            <if test="status != null">AND record.status = #{status}</if>
            <if test="cinemaId != null">AND record.cinema_id = #{cinemaId} </if>
            <if test="roomId != null">AND record.room_id = #{roomId} </if>
        </where>
        ORDER BY id DESC
    </select>

    <!-- 插入操作 -->
    <insert id="insert" parameterType="com.example.springboot.entity.Record"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cinemaId != null">cinema_id,</if>
            <if test="roomId != null">room_id,</if>
            <if test="title != null">title,</if>
            <if test="start != null">start,</if>
            <if test="price != null">price,</if>
            <if test="status != null">status,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cinemaId != null">#{cinemaId},</if>
            <if test="roomId != null">#{roomId},</if>
            <if test="title != null">#{title},</if>
            <if test="start != null">#{start},</if>
            <if test="price != null">#{price},</if>
            <if test="status != null">#{status},</if>
        </trim>
    </insert>

    <!-- 更新操作 -->
    <update id="updateById" parameterType="com.example.springboot.entity.Record">
        UPDATE record
        <set>
            <if test="cinemaId != null">cinema_id = #{cinemaId},</if>
            <if test="roomId != null">room_id = #{roomId},</if>
            <if test="title != null">title = #{title},</if>
            <if test="start != null">start = #{start},</if>
            <if test="price != null">price = #{price},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 删除操作 -->
    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE FROM record WHERE id = #{id}
    </delete>

    <delete id="deleteBatch">
        DELETE FROM record WHERE id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>